/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



